ul{
    list-style-type: none;
}
.content{
    justify-content: center;
    
}
#container1{
    flex-direction: row;
}
body{
    font-family: sans-serif;
    text-align: center;
    margin: 300px;
}